@import "../variables.scss";

@mixin sprites-decor {
  display: inline-block;
  text-align: left;
}
@mixin marginPaddingZero {
  margin: 0;
  padding: 0;
}

@mixin fontSizeAndLineHeight {
  font-size: 12px;
  line-height: 20px;
}