$barsBackgroundColor: rgba(0,0,0,1);
$barsColor: rgba(255,255,255,1);

$headerLiMobile: rgba(245,245,245,1);
$headerLiMobileActive: rgba(229,229,229,1);
$headerLinkColor: rgba(78,78,78,1);

$headerBackground: rgba(255,255,255,1);
$headerLinkActive: rgba(24,207,171,1);

$footerBackgroundColor: rgba(0,0,0,1);
$footerTextColor: rgba(255,255,255,1);

$colorRss: rgb(226,130,41);
$colorFacebook: rgb(55,86,154);
$colorTwitter: rgb(70,175,226);
$colorDribble: rgb(190,107,155);
$colorPinterest: rgb(183,29,39);

$socialLinksHover: inset 10px 10px 10px rgba(154, 147, 140, 0.5);


