@import "variables";
@import "mixins/mixins";

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  display: grid;
  //grid-gap: 10px;
  grid-template-areas:
  "main-image"
  "recent-post-container"
;
  //display: flex;
  //flex-direction: column;
  //font-family: Roboto, sans-serif;
}
.bars {
  background-color: $barsBackgroundColor;
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 25px;
  width: 26px;
  height: 22px;
  padding: 6px 8px 0 8px;
  z-index: 4;
}
.header {
  display: none;
  position: absolute;
  top: 63px;
  right: 25px;
  background-color: $headerLiMobile;
  width: 182px;
}
.nav__list {
  @include marginPaddingZero;
}
.nav__item {
  text-align: left;
  list-style: none;
  padding: 4px 0 4px 12px;
  box-sizing: border-box;
  &:active {
    background-color: $headerLiMobileActive;
  }
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $headerLinkColor;
  font-size: 11px;
  line-height: 22px;

}
//-----------------------------------------------------------------------------------------//
.main-image {
  margin-top: 83px;
  width: 100%;
  grid-area: main-image;
}
//-----------------------------------------------------------------------------------------//
.recent-post-container {
  grid-area: recent-post-container;
  padding: 0 20px;
}
.recent-post-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  margin-top: 38px;
  margin-bottom: 23px;
  text-align: left;
  color: rgba(78,78,78,1);
  grid-area: recent-post-title;
}
.main-box {
  height: 700px;
  overflow: scroll;
  text-align: left;
  grid-area: main-box;
}
.our-recent-posts__block {
  margin-top: 12px;
  margin-bottom: 30px;
}
.our-recent-posts__img {
  width: 160px;
  height: 140px;
}
.our-recent-posts__title {
  padding-left: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: rgba(78,78,78,1);
}
.our-recent-posts__comments {
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(124,124,124,1);
  @include fontSizeAndLineHeight;
}
.our-recent-posts__description {
  font-size: 14px;
  font-weight: 400;
  display: none;
  margin: 0;
  color: rgba(92,92,92,1);
  @include fontSizeAndLineHeight;
}
//---------------------------------------footer---------------------------------------//
.footer {
  text-align: center;
  box-sizing: border-box;
  background-color: $footerBackgroundColor;
  color: $footerTextColor;
}
.footer__title {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 38px 0 8px 0;
  text-transform: uppercase;
}
.footer__description {
  height: 52px;
  overflow: auto;
  box-sizing: border-box;
  margin: 0 auto 26px;
  width: 80%;
  font-size: 16px;
  line-height: 28px;
}
.footer__contacts {
  margin: 0;
  box-sizing: border-box;
  padding: 25px 0 47px 0;
  & p {
    @include marginPaddingZero;
    font-size: 12px;
    line-height: 20px;
  }
}
.visible {
  display: inline-block;
}
.fa-times{
  color: $barsColor;
}
.fa-bars {
  color: $barsColor;
}
.hide{
  display: none;
}
.visible {
  display: inline-block;
}
//---------------------------------------sprites---------------------------------------//
.sprites__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/css_sprites.png") no-repeat;
  &:hover {
    transform: scale(1.3);
    box-shadow: $socialLinksHover;
  }
}
.footer__sprites a {
  display: inline-block;
  border-radius: 50%;
}
.rss {
  @include sprites-decor;
  border: 1px solid $colorRss;
  background-position: -83px 0;
}
.facebook {
  @include sprites-decor;
  border: 1px solid $colorFacebook;
  background-position: 3px 0;
}
.twitter {
  @include sprites-decor;
  border: 1px solid $colorTwitter;
  background-position: -24px 0;
}
.dribbble {
  @include sprites-decor;
  border: 1px solid $colorDribble;
  background-position: -114px 0;
}
.pinterest {
  @include sprites-decor;
  border: 1px solid $colorPinterest;
  background-position: -53px 0;
}

//-----------768-----------768-----------768-----------768-----------768-----------768-----------768-----------//

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-areas:
  "header"
  "main-image"
  "recent-post-container";
  }
  .header {
    display: block;
    width: 100%;
    position: static;
    background-color: $headerBackground;
  }
  .nav__list {
    margin: 0 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav__item {
    box-sizing: border-box;
    padding: 40px 0;
    cursor: pointer;
    &:active {
      background-color: white;
    }
    &:hover .nav__link {
      color: $headerLinkActive;
    }
  }
  .bars {
    display: none;
  }
  .main-image {
    margin: 0 auto;
  }
  .recent-post-container {
    padding: 0;
  }
  .our-recent-posts {
    width: 600px;
    height: 140px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
  }
  .recent-post-title {
    font-size: 16px;
  }
  .our-recent-posts__block {
    margin-top: 0;
    margin-left: 20px;
  }
  .our-recent-posts__title {
    font-size: 16px;
  }
  .our-recent-posts__description {
    margin-top: 14px;
    font-size: 14px;
    line-height: 20px;
    width: 400px;
    display: block;
  }
  .main-box {
    height: 100%;
    overflow: hidden;
    padding-bottom: 60px;
  }
  .footer__title {
    box-sizing: border-box;
    padding: 57px 0 22px 0;
  }
  .footer__description {
    width: 684px;
    height: 100%;
  }
  .footer__contacts {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 56px;
  }
  .footer__contacts p {
    display: inline-block;
  }
}
//-----------1200-----------1200-----------1200-----------1200-----------1200-----------1200-----------1200-----------1200//
@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1170px;
  }
  .main-box {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 585px);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 70px;
  }
  .footer__title {
    padding-top: 68px;
  }
  .footer__contacts {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 70px;
  }
}